.customers-reviews{
    position: relative;
    height:1400px;
}
.review1{
    position: absolute;
    top:200px;
    left:120px;
}
.review2{
    position: absolute;
    top:400px;
    right:120px;
}
.review3{
    position: absolute;
    top:800px;
    left:120px;
}
.review4{
    position: absolute;
    top:1000px;
    right:120px;
}

@media only screen and ((min-width: 300px) and (max-width: 768px) ) {

    .customers-reviews{
        position: relative;
        height:1400px;
    }

    .review1{
    position: absolute;
    top:150px;
    left:30px;
}
    
}

